.example-container {
    height: 730px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }

  mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 850px;
} 

/* p{
  color: #5317dd;
  text-align: left;
} */

.card 
{
  margin-left: 8%;
  margin-right: 8%;
}

.example-card{
  padding: 1.8em;
}

.searchbar{
  align-content: center;
}
